body {
	background-image: none;
}

.reveal {
	font-size: 23px;
}

.reveal h1 {
  font-size: 3.77em;
}

.reveal h2 {
  font-size: 2.11em;
}

.reveal h3 {
  font-size: 1.55em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal section img {
	background: transparent;
	border: none;
	box-shadow: none;
	max-width: 1024px;
	max-height: 400px;
}

.reveal section img.fullslide {
	max-height: 540px;
}

.reveal section .img {
	width: 100%;
	padding-top: 50%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.reveal pre code {
	text-transform: initial !important;
	font-size: 1.5rem;
	line-height: 1.2;
}

.reveal a.contact {
	display: block;
}

.reveal a.contact:hover, .reveal a.contact:hover img {
	box-shadow: none;
}

.reveal a.contact img {
	display: inline-block;
	width: 1em;
	vertical-align: middle;
	margin-right: .5em;
}

.reveal a.contact.twitter img {
	margin-right: .4em;
}

.bracket-caption {
	position: relative;
	display: inline;
	width: calc(3 * 3rem);
}

.bracket-caption:before {
	content: '';
	position: absolute;
	top: 100%;
	left: calc(50% - 2px);
	background: white;
	width: 2px;
	height: 1rem;
}

.bracket-caption:after {
	content: attr(data-caption);
	position: absolute;
	top: calc(100% + 1rem);
	padding-top: .5rem;
	left: 0;
	border-top: 2px solid white;
	width: 100%;
	font-size: 3rem;
}


footer {
	position: absolute;
	text-align: right;
	font-size: 1em;
	bottom: .5em;
	left: .5em;
	opacity: 0;
	color: white;
	transition: opacity 0.5s ease;
}

footer.visible {
	opacity: 0.8;
}

/* Specific slides */
.good-shit img.fragment {
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
	margin: 0 1em;
}
