html
	head
		title WebGL
		meta(charset='utf=8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	body
		.reveal
			.slides
				section
					h2 Arbitrary Computation on the GPU with ❤WebGL 
					h3 Seth Samuel (NY ↝ PDX ↝ Elsewhere ↝ PDX ↝ NYC)
				section
					h1 What is WebGL?

