html
	head
		title WebGL
		meta(charset='utf=8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	body
		.reveal
			.slides
				section
					h2 Arbitrary Computation on the GPU with ❤WebGL 
					h3 Seth Samuel (NY ↝ PDX ↝ Elsewhere ↝ PDX ↝ NYC)
				section
					h1 What is WebGL?
				section
					h3 Shaders
					img(src='images/shader-pipeline.svg')
				section
					h3 Simple Gradient
					pre
						code(class='glsl') gl_FragColor = vec4(vCoord.s, vCoord.t, 0, 1.0);
				section
					iframe(data-src='./gradient.html', width=512, height=512)
				section
					h3 Edge Finder
					pre
						code(class='glsl') 
							| void main(void) {
							|   vec4 c = texture2D(uSampler, vCoord);
							|   vec4 cLeft = texture2D(
							| 		uSampler, vCoord - vec2(-0.005,0.0)
							|   );
							|   if(distance(cLeft.rgb, c.rgb) > uThreshold){
							|     gl_FragColor = vec4(1.0,0.0,1.0,1.0);
							|   }else{
							|     gl_FragColor = vec4(0.0,0.0,0.0,1.0);
							|   }
							| }
				section
					.img(style='background-image:url(images/edgefinder.jpg);')
				section
					iframe(data-src='./edgefinder.html', width=512, height=512)
