html
	head
		title WebAssembly
		meta(charset='utf=8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	body
		.reveal
			.slides
				section
					section
						h2 ❤WebAssembly and the Future Of Javascript
						h3 Seth Samuel (NY ↝ PDX ↝ Elsewhere ↝ PDX ↝ NYC)
						a.contact.twitter(href='http://twitter.com/sethfsamuel')
							img(src='images/twit.png')
							| @sethfsamuel
						a.contact.github(href='http://github.com/sethsamuel')
							img(src='images/github.png')
							| sethsamuel
					section
						h2 Follow along:
						h1 sethsamuel.github.io
				section
					img(src='images/business.jpg')
				section
					h1 Disclaimer
						span(class='fragment') (s)
				section
					h1 What is WebAssembly?
				section
					h1 A Brief History of the Web
				section
					h2 1822
					h3 Charles Babbage
					img(src='images/babbage.jpg')
				section
					h2 1842
					h3 Ada Lovelace
					img(src='images/lovelace.jpg')
				section
					h2 1945
					h3 Alan Turing
					img(src='images/turing.jpg')
				section
					h2 1952
					h3 Grace Hopper
					img(src='images/hopper.jpg')
				section
					h2 1989
					h3 Tim Berners-Lee
					img(src='images/lee.jpg')
				section
					h2 1995
					h3 Brendan Eich
					img(src='images/eich.jpg')
				section
					h2 2009
					h3 Ryan Dahl
					img(src='images/nodejs.png')
				section
					h2 Now
					h3 You
					img(src='images/empire.jpg')
				section
					h1 Assembly
				section
					h2 Programming languages are a bridge between human thought<br> and machine processing.
				section
					img.fullslide(src='images/brooklyn_bridge.jpg')
				section
					img.fullslide(src='images/sketchy_bridge.jpg')
				section
					img.fullslide(src='images/tacoma_narrows.gif')
				section
					h1 Why do we need abstractions?
				section
					h2 Electrons
					img(src='images/electron.png')
				section
					h2 Machine code
					pre
						code
							| 1100101010101101010
				section
					h2 Assembly
					pre
						code
							| mov eax, 45
							| mov ebx, 55
							| add eax, ebx
							| push eax
				section
					h2 Grace Hopper
					img(src='images/hopper.jpg')
				section
					h2 Low(er) level languages
					pre
						code
							| int *ptr_one;
							| ptr_one = (int *)malloc(sizeof(int));
							| free(ptr_one);
				section
					h2 High(er) level languages
					pre
						code
							| var s = 1;
							| s = ["Hello"];
							| s[2] = "Empire";
							| s["a"] = "Node";
				section
					h2 Visual languages
					img(src='images/unreal.jpg')
				section
					h2 Higher level ↝ less efficient <sup>*</sup>
				section
					h2 asm.js
					pre(class='fragment')
						code(class='javascript')
							| function Module() {
							|   "use asm";
							|   function add(x, y) {
							|     x = x | 0;
							|     y = y | 0;
							|     return x + y;
							|   }
							|   return { add: add };
							| }
				section
					h2 WebAssembly Abstract Syntax Tree (WAST)
				section
					h2 WAST is a shared target for compilers
				section
					h2 Learn more
					h3 Mariko Kosaka - How to be* a compiler 
				section
					h2 Browsers (and node) can efficiently transform WAST into Assembly
				section
					h3 WAST
					pre
						code(class='lisp')
							| (module
							|   (memory 256 256)
							|   (export "memory" memory)
							|   (export "add" $add)
							|   (func $add (param $0 i32) (param $1 i32) (result i32)
							|     (i32.add
							|       (get_local $0)
							|       (get_local $1)
							|     )
							|   )
							| )
				section
					h2 Demo
				section
					h2 Benefits
				section
					h2 Less npm postinstall building
				section
					h2 Compiled system langauges in the browser
				section
					h2 Pick the right tool for the job
				section
					h2 Learn more/Do more
					h3 https://github.com/WebAssembly/design
				section
					h1 Thanks!
					a.contact.twitter(href='http://twitter.com/sethfsamuel')
						img(src='images/twit.png')
						| @sethfsamuel
					a.contact.github(href='http://github.com/sethsamuel')
						img(src='images/github.png')
						| sethsamuel
			footer
				a.contact(href='http://twitter.com/sethfsamuel')
					| @sethfsamuel
