html
	head
		title WebAssembly
		meta(charset='utf=8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	body
		.reveal
			.slides
				section
					section
						h2 ❤WebAssembly and the Future Of Javascript
						h3 Seth Samuel (NY ↝ PDX ↝ Elsewhere ↝ PDX ↝ NYC)
						a.contact.twitter(href='http://twitter.com/sethfsamuel')
							img(src='images/twit.png')
							| @sethfsamuel
						a.contact.github(href='http://github.com/sethsamuel')
							img(src='images/github.png')
							| sethsamuel
					section
						h2 Follow along:
						h1 sethsamuel.github.io
				section
					h1 What is WebAssembly?
				section
					h1 A Brief History of the Web
				section
					h2 1822
					h3 Charles Babbage
					img(src='images/babbage.jpg')
				section
					h2 1842
					h3 Ada Lovelace
					img(src='images/lovelace.jpg')
				section
					h2 1952
					h3 Grace Hopper
					img(src='images/hopper.jpg')
				section
					h2 1989
					h3 Tim Berners-Lee
					img(src='images/lee.jpg')
				section
					h2 1995
					h3 Brendan Eich
					img(src='images/eich.jpg')
				section
					h2 2000-2008
					h3 Shit Happened
				section
					h2 2009
					h3 Ryan Dahl
					img(src='images/nodejs.png')
				section.good-shit
					h2 2010-2016
					h3 More Shit (the Good Kind™)
					img.fragment(src='images/npm.svg')
					img.fragment(src='images/grunt.png')
					img.fragment(src='images/gulp.png')
					img.fragment(src='images/browserify.png')
					img.fragment(src='images/bower.png')
					img.fragment(src='images/react.svg')
				section
					h2 Now
					h1 A Universal Runtime
				section
					h1 Assembly
				section
					h2 Programming languages are a bridge between human thought and machine processing.
				section
					img.fullslide(src='images/brooklyn_bridge.jpg')
				section
					img.fullslide(src='images/sketchy_bridge.jpg')
				section
					img.fullslide(src='images/tacoma_narrows.gif')
				section
					h2 Language abstractions
					ol
						li Electrons
						li Assembly
						li Low level languages (C, Rust)
						li High level languages (Javascript, Python, Ruby)
						li Visual languages (Unity, LEGO)
				section
					h2 Higher level ↝ less efficient <sup>*</sup>
				section
					h2 asm.js
				section
					pre
						code(class='javascript')
							| function Module() {
							|   "use asm";
							|   function add(x, y) {
							|     x = x | 0;
							|     y = y | 0;
							|     return x + y;
							|   }
							|   return { add: add };
							| }
				section
					h2 WebAssembly AST
				section
					pre
						code(class='lisp')
							| (module
							|   (memory 256 256)
							|   (export "memory" memory)
							|   (export "add" $add)
							|   (func $add (param $0 i32) (param $1 i32) (result i32)
							|     (i32.add
							|       (get_local $0)
							|       (get_local $1)
							|     )
							|   )
							| )
				section
					h2 WAST is a shared target for compilers
				section
					h2 Browsers (and node) can transform WAST into Assembly
				section
					h2 Demo
				section
					h2 Benefits
				section
					h2 No more npm building
				section
					h2 Compiled system langauges in the browser
				section
					h2 Pick the right tool for the job
				section
					h2 Learn more/Do more
					h3 https://github.com/WebAssembly/design
				section
					h1 Thanks!
					a.contact.twitter(href='http://twitter.com/sethfsamuel')
						img(src='images/twit.png')
						| @sethfsamuel
					a.contact.github(href='http://github.com/sethsamuel')
						img(src='images/github.png')
						| sethsamuel
			footer
				a.contact(href='http://twitter.com/sethfsamuel')
					| @sethfsamuel
